body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    display: flex;
}


.sidebar {
    width: 220px;
    background: #b71c1c;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 30px;
    color: white;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
    display: block;
}

.sidebar ul li a:hover {
    background: #8e1515;
    padding-left: 25px;
    transition: 0.3s;
}


.content {
    margin-left: 220px; 
    padding: 40px;
    width: calc(100% - 220px);
}


.section {
    margin-bottom: 60px;
    text-align: center;
}

.section img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 15px;
}
